@mixin medium-screen() {
  @media screen and (max-width: 1430px) {
    @content
  }
}

@mixin small-screen() {
  @media screen and (max-width: 1220px) {
    @content
  }
}

@mixin tiny-screen() {
  @media screen and (max-width: 1130px) {
    @content
  }
}

.container {
  display: block;
  position: relative;
  min-width: 800px;
  width: 100%;
  height: 1450px;
}

.map {
  z-index: 100;
  left: calc(50% - 700px);
  display: block;
  position: relative;
  top: 60px;
  height: 400px;
  width: 1400px;

  @include medium-screen {
    width: 1000px;
    left: calc(50% - 500px);
  }

  @include tiny-screen {
    width: 800px;
    left: calc(50% - 400px);
  }
}

.no-map {
  display: block;
  position: absolute;
  top: 60px;
  left: calc(50% - 700px);
  height: 400px;
  width: 1400px;
  background: #dadada;
  color: #f2f2f2;
  text-align: center;
  vertical-align: center;
  line-height: 200px;
  font-size: 2em;
  background-image: url("/static/spinner.svg");
  background-position-y: 150px;
  background-position-x: center;
  background-repeat: no-repeat;

  @include medium-screen {
    width: 1000px;
    left: calc(50% - 500px);
  }

  @include tiny-screen {
    width: 800px;
    left: calc(50% - 400px);
  }
}

.title {
  display: block;
  position: relative;
  top: 120px;
  text-align: center;
  margin-bottom: 100px;
  font-size: 2em;
}

.contacts {
  position: absolute;
  display: inline-block;
  left: 100px;
  top: 70px;
  width: 400px;
  font-size: 1.3em;
  height: 150px;
  @include small-screen {
    left: 0;
  }
}

.container-center {
  position: relative;
  display: block;
  width: 1200px;
  height: 300px;
  left: calc(50% - 600px);
  top: 50px;

  @include small-screen {
    width: 800px;
    left: calc(50% - 400px);
  }
}

.form {
  display: block;
  position: relative;
  width: 1000px;
  left: calc(50% - 500px);
  top: 70px;
  border-radius: 5px;
  height: 500px;
  background: #f6f4f4;

  @include small-screen {
    width: 800px;
    left: calc(50% - 400px);
  }
}

.title-form {
  display: block;
  position: relative;
  top: 10px;
  text-align: center;
  font-size: 2em;
  @include small-screen {
    font-size: 1.5em;
  }
}

.inpt {
  width: 230px;
  margin: 40px 51px;
  height: 40px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #cccccc;
  background: #ffffff !important;
  outline: none;
  color: #70737c;
  font-size: 16px;
  padding-left: 5px;

  &::-webkit-input-placeholder {
    color: #9fa2ab;
  }

  @include small-screen {
    width: 200px;
    margin: 40px 33px;
  }
}

.input-comment {
  width: 895px;
  position: relative;
  display: block;
  left: calc(50% - 448px);
  padding: 10px;
  height: 200px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #cccccc;
  background: #ffffff !important;
  outline: none;
  color: #70737c;
  font-size: 16px;
  resize: none;

  &::-webkit-input-placeholder {
    color: #9fa2ab;
  }

  @include small-screen {
    width: 730px;
    left: calc(50% - 365px);
  }
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

/* webkit */
:focus::-moz-placeholder {
  opacity: 0;
}

/* Firefox 19+ */
:focus:-moz-placeholder {
  opacity: 0;
}

/* Firefox 18- */
:focus:-ms-input-placeholder {
  opacity: 0;
}

/* IE */

.phone {

}

.email {
  display: block;
  position: relative;
  top: 40px;
}

.address {
  display: block;
  position: relative;
  top: 20px;
}

.description {
  display: inline-block;
  position: absolute;
  width: 350px;
  font-size: 1.3em;
  color: #b2b2b2;
  top: 60px;
  right: 100px;
  @include small-screen {
    right: 0;
  }

}

#comment {

}

.btn {
  width: 200px;
  color: white;
  background-color: #cd6367;
  left: calc(50% - 100px);
  height: 40px;
  margin: 0;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1.2em;
  position: absolute;
  display: block;
  bottom: 50px;
  cursor: pointer;

  &:hover {
    background-color: #8f3432;
  }
}