@import "mixins";
@import "../../../../../../media/mixins";

.container {
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 650px;

  @include large-screen() {
    width: 550px;
  }

  @include advant() {
    width: 400px;
  }
}

%image {
  position: relative;
  left: 460px;
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
  background-position-x: center;
  background-position-y: center;

  @include large-screen() {
    left: calc(50% + 200px);
  }

  @include advant() {
    left: 350px;
  }

  @include small-screen() {
    margin-top: 0;
    font-size: 1em;
    left: 310px;
  }
}

.content {
  position: absolute;
  width: 430px;
  margin: auto;
  font-size: 1.2em;
  height: 30px;
  text-align: left;
  top: 75px;
  left: 40px;

  @include large-screen() {
    width: 400px;
    left: calc(50% - 230px);
    font-size: 1.1em;
  }

  @include advant() {
    width: 300px;
    left: 20px;
    font-size: 1.1em;
    margin-top: 10px;
  }

  @include small-screen() {
    margin-top: 0;
    font-size: 1em;
    width: 280px;
    left: 20px;
  }

  color: #5f5f5f;
}

.title {
  position: absolute;
  width: 400px;
  margin: auto;
  font-size: 1.5em;
  height: 30px;
  text-align: left;
  top: 35px;
  left: 40px;
  @include large-screen() {
    width: 400px;
    left: calc(50% - 230px);
    font-size: 1.5em;
  }

  @include advant() {
    width: 300px;
    left: 20px;
    font-size: 1.3em;
  }

  @include small-screen() {
    width: 280px;
    left: 20px;
    font-size: 1.1em;
  }
}

@for $i from 4 through 6 {
  .image-#{$i} {
    @extend %image;
    background: url('../images/#{$i}.png') no-repeat;
  }
}