@import '../../../../../media/mixins';

.container {
  width: 100%;
  position: relative;
  display: block;
}

.image {
  display: block;
  margin-top: 30px;
  height: 300px;
  width: 830px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

%image-dev {
  display: inline-block;
  position: relative;
  margin: 0 33px;
  width: 70px;
  height: 70px;
  top: 90px;
}

.img-arrow {
  display: inline-block;
  width: 40px;
  height: 20px;
  position: absolute;
  top: 25px;
  left: 85px;
  background: url("./images/arrow.png") no-repeat;
  box-sizing: border-box;
}

.signature {
  user-select: none;
  width: 110px;
  text-align: center;
  position: relative;
  top: 80px;
  left: -20px;
}

.image-order {
  @extend %image-dev;
  background: url("./images/order.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.image-analysis {
  @extend %image-dev;
  background: url("./images/analysis.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.image-contract {
  @extend %image-dev;
  background: url("./images/contract.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.image-development {
  @extend %image-dev;
  background: url("./images/development.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.image-test {
  @extend %image-dev;
  background: url("./images/test.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.image-start {
  @extend %image-dev;
  background: url("./images/start.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.title {
  margin: 20px auto;
  text-align: center;
  font-size: 1.5em;
}

.description {

}

li {
  color: #cd6367;
}

@mixin ul-minimize() {
  @media screen and (max-width: 1075px) {
    width: 800px;
    font-size: 0.95em;
  }
}

.list {
  width: 1000px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 1.2em;

  @include ul-minimize;
}

span {
  color: black;
}

.element-list {
  margin-top: 10px;
}