@import "../../../../media/mixins";
@import "vars";

.back-image {
  width: 100%;
  min-width: 800px;
  position: relative;
  height: 100vh;
  background: url("./images/oboi.png") no-repeat;
  background-size: cover;
}

.content-first-page {
  width: $width-order-div;
  height: $height-order-div;
  left: calc(50% - #{$width-order-div} / 2);
  top: calc(50% - #{$height-order-div} / 2);
  position: absolute;
  min-width: 800px;

  @include medium-screen {
    $new-width: $width-order-div - 300px;
    width: $new-width;
    left: calc(50% - #{$new-width} / 2);
  }

}

.main-label {
  text-align: center;
  color: white;
  margin: 0 auto;
  font-size: 4em;
  left: 50%;

}

