@import "../../media/mixins";
.container {
  position: relative;
  height: 300px;
  background-color: #cd6367;
}

.title {
  user-select: none;
  text-align: center;
  display: block;
  position: relative;
  padding-top: 50px;
  font-size: 3em;
  color: white;

  @include small-screen(){
    font-size: 2.5em;
  }
}

.btn {
  display: block;
  width: 250px;
  position: relative;
  left: calc(50% - 125px);
  height: 50px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1.5em;
  color: #cd6367;
  margin-top: 50px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  vertical-align: center;
  background-color: white;
  &:hover {
    background-color: #d8d4d4;
    //color: white;
  }
}