@import "../mixins";
@import "../../../media/mixins";

.container {
  top: calc(50% - 200px);
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  width: 300px;
  height: 450px;

  @include med-screen {
    width: 200px;
    margin-left: 25px;
    margin-right: 25px;
  }

  @include small-screen {
    margin-left: 3px;
    margin-right: 3px;
  }
}

@for $i from 1 through 4 {
  .image-#{$i} {
    height: 250px;
    width: 250px;
    position: relative;
    left: calc(50% - 110px);
    background: url('./images/#{$i}.png') no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;

    @include med-screen {
      height: 200px;
      width: 200px;
      left: calc(50% - 100px);
      background-size: cover;
      background-position-x: center;
      background-position-y: center;
    }
  }
}

@for $i from 1 through 4 {
  .image-mobile-#{$i} {
    height: 250px;
    width: 250px;
    position: relative;
    left: calc(50% - 110px);
    background: url('./images/mobile-#{$i}.png') no-repeat;
    background-position-x: center;
    background-position-y: center;

    @include med-screen {
      height: 200px;
      width: 200px;
      left: calc(50% - 100px);
      background-size: cover;
      background-position-x: center;
      background-position-y: center;
    }
  }
}

@for $i from 1 through 4 {
  .image-web-#{$i} {
    height: 250px;
    width: 250px;
    position: relative;
    left: calc(50% - 110px);
    background: url('./images/web-#{$i}.png') no-repeat;
    background-position-x: center;
    background-position-y: center;

    @include med-screen {
      height: 200px;
      width: 200px;
      left: calc(50% - 100px);
      background-size: cover;
      background-position-x: center;
      background-position-y: center;
    }
  }
}

.title {
  top: 15px;
  color: white;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  width: 250px;
  position: relative;
  left: calc(50% - 110px);

  @include med-screen {
    margin-top: 10px;
  }

  @include med-screen {
    width: 200px;
    left: calc(50% - 100px);
  }
}

.description {
  color: white;
  text-align: left;
  margin-left: 35px;
  margin-top: 30px;

  @include med-screen {
    margin-left: 15px;
  }
}

%icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-left: 30px;
  margin-top: 10px;
  @include med-screen {
    margin-left: 10px;
  }
}

.icon-android {
  @extend %icon;
  background: url("./images/android.svg") no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.icon-apple {
  @extend %icon;
  background: url("./images/apple.svg") no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.icon-pc {
  @extend %icon;
  background: url("./images/pc.svg") no-repeat;
  background-position-x: center;
  background-position-y: center;
}