@import "menu.scss";
@import "vars.scss";

body {
  margin: 0;
}

.header {
  width: 100%;
  position: fixed;
  height: $height-header;
  background-color: $color-header;
  margin: 0;
}

.logo {
  display: inline-block;
  height: $height-header;
  position: relative;
  line-height: $height-header;
}

.phone-info {
  display: inline-block;
  position: relative;
  height: $height-header;
}

.phone {
  position: relative;
  line-height: $height-header;
  color: white;
  display: inline-block;
}



