@import "vars";
@import "../../../media/mixins";

.menu {
  display: block;
  position: absolute;
  height: $height-header;
  width: $menu-width;
  left: calc(50% - #{$menu-width} / 2);
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;

  @include medium-screen {
    width: $menu-width - 150px;
    $new-width: $menu-width - 150px;
    left: calc(50% - #{$new-width} / 2);
    a {
      margin: 0 15px;
    }
  }

  @include small-screen {
    width: 550px;
    right: 10px;
    left: auto;
    margin: 0;
  }

}

.menu-element {
  position: relative;
  margin: 0 30px;
  line-height: $height-header;
  height: $height-header - 2px;
  display: inline-block;
  font-size: $header-font-size;
  color: black;
  user-select: none;
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid #cd6367;
    color: #cd6367;
  }
}