@import "menu";
@import "vars";

body {
  margin: 0;
  min-width: 830px;
  font-family: 'Roboto', sans-serif;
}

.header {
  z-index: 900;
  width: 100%;
  position: fixed;
  height: $height-header;
  background-color: $color-header;
  margin: 0;
}

.logo {
  display: block;
  height: $height-header;
  width: 150px;
  left: 5px;
  position: absolute;
  background: url('../images/logo.png') no-repeat;
  background-size: contain;
  background-position-y: center;
  cursor: pointer;
}

.link-router{
  margin: 0;
}
.phone-info {
  display: block;
  position: absolute;
  right: 15px;
  height: $height-header;

  @include small-screen {
    display: none;
  }
}

.phone {
  position: relative;
  line-height: $height-header;
  font-size: $header-font-size - 0.2em;
  color: black;
  display: inline-block;

}

.div-container {
  z-index: 1000;
  width: 100%;
  position: fixed;
  min-width: 830px;
}

