@import '../../../../../media/mixins';

.container {
  width: 100%;
}

.image {
  margin-top: 30px;
  height: 300px;
  width: 800px;
  position: relative;
  left: calc(50% - 400px);
  background: url("./images/agile.png") no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
}

.description {

}

.title {
  margin: 20px auto;
  text-align: center;
  font-size: 1.5em;
}

li {
  color: #cd6367;
}

@mixin ul-minimize() {
  @media screen and (max-width: 1075px) {
    width: 800px;
    font-size: 0.95em;
  }
}

.list {
  width: 1000px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 1.2em;

  @include ul-minimize;

}

span {
  color: black;
}

.element-list {
  margin-top: 10px;
}