.container {
  margin-top: 20px;
  height: 150px;
}

.image {
  position: relative;
  left: 20px;
  top: 35px;
  width: 80px;
  height: 80px;
  background-position-x: center;
  background-position-y: center;
}

.content {

}


.pp {
  width: 100px;
  height: 100px;
}